/* Nav */
.navbar{
  background-color: #ffffff;
  border: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
.navbar-default .navbar-text{
  color: black
}
.navbar-default .navbar-toggle {
  border: 0;
  float: left;
}
.navbar-default .navbar-toggle:hover{
  background-color: white;
}
.list-group-item{
  border: 0;
  top: -10px;
}
/* Hero */
#hero{
  background-image: url(../img/taxi.jpg);
  background-position: 100% 93%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  font-family: 'Raleway', sans-serif;
}
.box-hero{
  padding: 30px;
  background-color: #f7b617;
  position: absolute;
  right: 0;
  top: 125px;
  color: #ffffff;
}
.box-hero img{
  width: 80px;
}
.box-hero input{
  border: 0;
  background: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  margin-bottom: 10px;
}
.btn-hero{
  margin: 20px 0;
}
.box-hero h2{
  line-height: 0.4;
}
.texto-hero{
  font-size: 2rem;
  font-weight: 600;
}
.texto-hero img{
  margin-left: 5px;
}
.texto-hero h5{
  margin-top: 17px;
  font-weight: 600;
}
.title{
  margin : 40px 0;
}
.navbar-brand{
  display: inline-block;
}
/* Información*/
#informacion{
  background-color: #f7b617;
  padding: 40px 40px;
  color: #ffffff;
}
#informacion h3{
  font-size: 2rem;
}
.inf-texto{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}
.border{
  position: relative;
  border: 1px solid #ffffff;
  border-color: #ffffff;
  padding: 30px;
  box-sizing: border-box;
}
.border img{
  width: 300px;
}
